.popup__close-button{
    background-image: url(../../../mesto-images/button-close.svg);
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
    background-color: inherit;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top:-40px;
  right:-40px;
  
  }
  
  .popup__close-button:hover{
    opacity: 0.6;
    cursor: pointer;
  }
  
  @media screen and (max-width:568px) {
    .popup__close-button{
      width: 20px;
      height: 20px;
      top:-36px;
      right: 0;
    }
    
  }